@{
  Layout = "_Layout";
}

@model StackUnderflow.ViewModels.NewThreadViewModel

<div class="row">
  <div class="col-md-12">
    <div class="forum-new" style="float: left;">
      @Html.ActionLink("Go Back", "Show", "Forums", new { id = @ViewBag.Forum.ForumId }, new { @class = "btn btn-dark"})
    </div>
    <div class="forum-header">
      <h3><span style="color: orange;">stack</span><strong>underflow</strong> / @ViewBag.Forum.Name</h3>
    </div>
    <div class="card">
      <div class="card-header bg-dark">
        <strong>Create Thread</strong>
      </div>
      <div class="card-body">
        @using (Html.BeginForm("New", "Threads", FormMethod.Post))
        {
          @Html.Hidden("ForumId", (object)ViewBag.ForumId)
          @Html.LabelFor(model => model.Title)
          @Html.TextBoxFor(model => model.Title)

          @Html.LabelFor(model => model.Message)
          @Html.TextAreaFor(model => model.Message)

          <input type="submit" class="btn btn-dark" value="Create Thread">
        }
      </div>
    </div>
  </div>
</div>