@{
  Layout = "_Layout";
}

@using StackUnderflow.Models

<div class="row">
  <div class="col-md-12">
    <div class="forum-new" style="float: left;">
      @Html.ActionLink("New Thread", "New", "Threads", new { forumId = @ViewBag.Forum.ForumId }, new { @class = "btn btn-dark"})
    </div>
    <div class="forum-header">
      <h3><span style="color: orange;">stack</span><strong>underflow</strong> / @ViewBag.Forum.Name</h3>
    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Topics</th>
        <th scope="col" class="text-right">Posts</th>
        <th scope="col" class="text-right">Last Post</th>
      </tr>
      </thead>
      @if(@Model.Count == 0)
      {
        <tr>
          <td scope="row">This forum is currently empty.</td>
          <td class="text-right">0</td>
          <td class="text-right"></td>
        </tr>
      }
      else
      {
        @foreach(Thread thread in Model)
        {
          <tr>
            <td scope="row">@Html.ActionLink($"{@thread.Title}", "Show", "Posts", new { id = @thread.ThreadId })</td>
            <td class="text-right">@thread.Posts.Count</td>
            <td class="text-right">Placeholder</td>
          </tr>
        }
      }
    </table>
        @Html.ActionLink("New Thread", "New", "Threads", new { forumId = @ViewBag.Forum.ForumId }, new { @class = "btn btn-dark"})
  </div>
</div>